.parentSec {
  display: flex;
  justify-content: space-between;
}

.parentConData > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.conImg > img {
  max-width: 500px;
}

.styleTitle {
  font-size: 30px;
  font-weight: 600;
}
.smTitle {
  color: var(--gray-color);
  font-size: 19px;
}
.iconsStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.iconsStyle > div {
  border: 2px solid var(--border-color-main);
  padding: 3px 10px;
  width: 90px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}




.iconsStyle > div > svg {
  font-size: 25px;
}

.seprateStyle {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.seprateStyle>span{
    font-size: 18px;
    color: black;
}
.seprateStyle>span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -14px;
  width: 49%;
  height: 2px;
  background-color: var(--border-color-main);
}
.seprateStyle>span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -14px;
  width: 49%;
  height: 2px;
  background-color: var(--border-color-main);
}

.formStyle{
    width: 100%;
}
.formStyle >form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}

.formStyle >form >div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.formStyle >form >div>label{
    font-size: 18px;
    color: black;
}

.formStyle >form >div>input{
    width: 100%;
    padding: 5px  10px;
    border: 2px solid var(--border-color-main);
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    color: var(--gray-color);
}

.buttonParent >a{
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;

}

.buttonParent >button{
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    color:white;
    background-color: var(--main-color);
    border: none;
}

.footerLoginStyle{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}


.footerLoginStyle >div{

  display: flex;
  align-items: center;
  gap: 10px;

}

.footerLoginStyle >div>a{
  text-decoration: none;
}

@media(max-width:860px){
    .parentSec{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    .conImg >img{
        max-width: 300px;
    }
}