.parentSec {
  display: flex;
  justify-content: space-around;
}

.parentConData > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.conImg > img {
  max-width: 500px;
}

.styleTitle {
  font-size: 30px;
  font-weight: 600;
}
.smTitle {
  color:var(--main-color);
  font-size: 25px;
}
.iconsStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}





.formStyle{
    width: 100%;
}
.formStyle >form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}

.formStyle >form >div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.formStyle >form >div>label{
    font-size: 18px;
    color: black;
}

.formStyle >form >div>input{
    width: 100%;
    padding: 5px  10px;
    border: 2px solid var(--border-color-main);
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    color: var(--gray-color);
}

.buttonParent >a{
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;

}

.buttonParent >button{
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    color:white;
    background-color: var(--main-color);
    border: none;
}

@media(max-width:860px){
    .parentSec{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    .conImg >img{
        max-width: 300px;
    }
}